venv/*
._.**
._**
.DS_Store
dump/*
stanford_alpaca/*
.env
__pycache__/
stanford_alpaca
vagueness_data/
vagueness_project/
temp.py
message.py
DCSCORE.py
model/
Polos/
gveval/
dataset/dci_images/*
dataset/docci_images/*